<!DOCTYPE html>
<html>
<head>
  <title>This Map In History</title>  
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="icon" href="images/tmih-icon.ico?v=2">
    
  </head>  
<body>
  <div id="home">
    <h1>This Map In History</h1>
    <h3>This version by <a href="https://github.com/siliconninja">SiliconNinja</a></h3>
    <br>
    <p style="font-size: 20pt;">Enter a date and a state below to find US history on that day.</p>
    <form action="/map" method="POST" style="color: #000;">
      <br>
      <p>Enter a state:</p>
      <input type="text" name="state" placeholder="New Jersey">
      <p>Enter a date:</p>
      <input type="text" name="date" placeholder="mm/dd">
        <br>
      <input type="submit" value="Submit">
    </form>
    <!-- <p style="font-size: 12pt;">Source for events: <a href="http://www.onthisday.com/countries/usa">OnThisDay.com</a></p> -->
    <p style="font-size: 14pt;">Image credits:</p>
    <p style="font-size: 12pt;">Mountain image (CC0) by monkeypeng: <a href="https://pixabay.com/en/china-changbai-mountain-winter-1155354/">https://pixabay.com/en/china-changbai-mountain-winter-1155354/</a></p>
    <p style="font-size: 12pt;">Globe image (CC0) by OpenClipart-Vectors: <a href="https://pixabay.com/en/globe-earth-planet-continents-147715/">https://pixabay.com/en/globe-earth-planet-continents-147715/</a></p>
  </div>
  
</body>
</html>
