<!doctype html>
<html>
  <head>
    <title>This Map In History | Result for <%= @state %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" href="images/tmih-icon.ico?v=2">
  </head>
  <body>
  
    <div id="resulttext" style="width:1500px; margin:0 auto;">
      <br>
      <br>
      <h1><%= @state %></h1>
      <br>
      <h2><%= @fact[0] %></h2>
      <h2><%= @fact[1] %></h2>
      <!-- <p style="font-size: 12pt;">Source for events: <a href="http://www.onthisday.com/countries/usa">OnThisDay.com</a></p> -->
    </div>
    
    <div id="map">
    
      <!-- <img src="images/globe-147715_1280.png"> -->
    
    </div>
    
  </body>
</html>
